## **Cleaning Weather datasets

In [2]:
import pandas as pd

In [3]:

weather_data_csv = 'datasets/weatherAUS.csv'

weather_data = pd.read_csv(weather_data_csv)

print(weather_data.columns.tolist())

weather_data.drop(columns=['Evaporation',
                           'WindGustDir',
                           'WindGustSpeed',
                           'WindDir9am',
                           'WindDir3pm',
                           'WindSpeed9am',
                           'WindSpeed3pm',
                           'Humidity9am',
                           'Humidity3pm',
                           'Pressure9am',
                           'Pressure3pm',
                           'Cloud9am',
                           'Cloud3pm',
                           'Temp9am',
                           'Temp3pm',
                           'RainToday',
                           'RainTomorrow'], inplace=True)

print(weather_data.head())

['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm', 'RainToday', 'RainTomorrow']
         Date Location  MinTemp  MaxTemp  Rainfall  Sunshine
0  2008-12-01   Albury     13.4     22.9       0.6       NaN
1  2008-12-02   Albury      7.4     25.1       0.0       NaN
2  2008-12-03   Albury     12.9     25.7       0.0       NaN
3  2008-12-04   Albury      9.2     28.0       0.0       NaN
4  2008-12-05   Albury     17.5     32.3       1.0       NaN

In [4]:
weather_data

              Date Location  MinTemp  MaxTemp  Rainfall  Sunshine
0       2008-12-01   Albury     13.4     22.9       0.6       NaN
1       2008-12-02   Albury      7.4     25.1       0.0       NaN
2       2008-12-03   Albury     12.9     25.7       0.0       NaN
3       2008-12-04   Albury      9.2     28.0       0.0       NaN
4       2008-12-05   Albury     17.5     32.3       1.0       NaN
...            ...      ...      ...      ...       ...       ...
145455  2017-06-21    Uluru      2.8     23.4       0.0       NaN
145456  2017-06-22    Uluru      3.6     25.3       0.0       NaN
145457  2017-06-23    Uluru      5.4     26.9       0.0       NaN
145458  2017-06-24    Uluru      7.8     27.0       0.0       NaN
145459  2017-06-25    Uluru     14.9      NaN       0.0       NaN

[145460 rows x 6 columns]