## **Cleaning Weather datasets**

In [2]:
import pandas as pd

In [3]:

weather_data_csv = 'datasets/weatherAUS.csv'

weather_data = pd.read_csv(weather_data_csv)

print(weather_data.columns.tolist())

weather_data.drop(columns=['Evaporation',
                           'WindGustDir',
                           'WindGustSpeed',
                           'WindDir9am',
                           'WindDir3pm',
                           'WindSpeed9am',
                           'WindSpeed3pm',
                           'Humidity9am',
                           'Humidity3pm',
                           'Pressure9am',
                           'Pressure3pm',
                           'Cloud9am',
                           'Cloud3pm',
                           'Temp9am',
                           'Temp3pm',
                           'RainToday',
                           'RainTomorrow'], inplace=True)

print(weather_data.head())

['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm', 'RainToday', 'RainTomorrow']
         Date Location  MinTemp  MaxTemp  Rainfall  Sunshine
0  2008-12-01   Albury     13.4     22.9       0.6       NaN
1  2008-12-02   Albury      7.4     25.1       0.0       NaN
2  2008-12-03   Albury     12.9     25.7       0.0       NaN
3  2008-12-04   Albury      9.2     28.0       0.0       NaN
4  2008-12-05   Albury     17.5     32.3       1.0       NaN

In [4]:
weather_data

              Date Location  MinTemp  MaxTemp  Rainfall  Sunshine
0       2008-12-01   Albury     13.4     22.9       0.6       NaN
1       2008-12-02   Albury      7.4     25.1       0.0       NaN
2       2008-12-03   Albury     12.9     25.7       0.0       NaN
3       2008-12-04   Albury      9.2     28.0       0.0       NaN
4       2008-12-05   Albury     17.5     32.3       1.0       NaN
...            ...      ...      ...      ...       ...       ...
145455  2017-06-21    Uluru      2.8     23.4       0.0       NaN
145456  2017-06-22    Uluru      3.6     25.3       0.0       NaN
145457  2017-06-23    Uluru      5.4     26.9       0.0       NaN
145458  2017-06-24    Uluru      7.8     27.0       0.0       NaN
145459  2017-06-25    Uluru     14.9      NaN       0.0       NaN

[145460 rows x 6 columns]

### **Reading the flu file**

In [4]:
import pandas as pd

In [8]:
file_path = 'datasets/national_notifiable_diseases_surveillance_system_nndss_public_dataset.xlsx'

excel_file = pd.ExcelFile(file_path)
sheets_name = excel_file.sheet_names

print(sheets_name)

df_flu = pd.read_excel(file_path, sheet_name='2008-2015')

df_flu.head()

['2008-2015', '2016-2018', '2019-2022']

,Influenza (laboratory confirmed) NNDSS notifications in Australia \n2008-2015\n *NNDSS data current as at 29/06/2023,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Week Ending (Friday),State,Age group,Sex,Indigenous status,Type/Subtype
1,2016-01-01 00:00:00,NSW,00-04,Female,Not available,A(H1N1)pdm09
2,2016-01-01 00:00:00,NSW,00-04,Female,Not available,A(H1N1)pdm09
3,2016-01-01 00:00:00,NSW,00-04,Female,Not available,A(H1N1)pdm09
4,2016-01-01 00:00:00,NSW,00-04,Female,Not available,A(unsubtyped)

In [ ]:
import pandas as pd

# Step 1: Convert weather data 'Date' to datetime format
weather_data['Date'] = pd.to_datetime(weather_data['Date'])

# Step 2: Create 'Year_Week' column for both daily weather and weekly flu data
weather_data['Year_Week'] = weather_data['Date'].dt.strftime('%Y-%U')
flu_data['Week_Ending'] = pd.to_datetime(flu_data['Week_Ending'])
flu_data['Year_Week'] = flu_data['Week_Ending'].dt.strftime('%Y-%U')

# Step 3: Merge the flu data onto the daily weather data (assigning the weekly flu cases to each day of the week)
merged_data = pd.merge(weather_data, flu_data[['Year_Week', 'Flu_Cases']], on='Year_Week', how='left')

# Display the merged dataset to the user
import ace_tools as tools; tools.display_dataframe_to_user(name="Merged Daily Weather with Weekly Flu Data", dataframe=merged_data)

# Now 'merged_data' contains daily weather with weekly flu cases assigned to each day.